

@font-face {
  font-family: "HillSide";
  src: url('fonts/Hillside_Script.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Crayon Pastel";
  src: url('fonts/Crayon\ pastel.otf') format('opentype');
}

/* add similar blocks for Alternates2, Alternates3, Sketches if needed */

body {
  font-family: "Hillside";
}
h1 {
  font-size: 100px;   /* make it bigger than default */
  font-weight: bold; /* adjust thickness */
  text-align: center;
  color: #283c65;
}
.heading {
  display: block;
  margin: 20px auto;
  max-width: 80%;   /* keep it responsive */
  height: auto;
}
.corner {
  position: fixed;      /* stays fixed, doesn’t scroll */
  z-index: -1;          /* behind all content */
  width: 150px;         /* adjust size */
  height: auto;
  opacity: 0.8;         /* optional transparency */
  pointer-events: none; /* don’t block clicks */
}

.corner-tl { top: 0; left: 0; }
.corner-tr { top: 0; right: 0; }
.corner-bl { bottom: 0; left: 0; }
.corner-br { bottom: 0; right: 0; }
.corner-tl { width: 25vw; } /* 15% of viewport width */
.corner-tr { width: 27vw; }
.corner-bl { width: 35vw; }
.corner-br { width: 32vw; }

.canvas-grid {
  display: grid;
  grid-template-columns: 150px 600px; /* two columns: button + canvas */
  justify-content: center;          /* center grid on page */
  align-items: start;
  gap: 5px;                        /* space between them */
  margin: 10px 0;
  margin-left: -170px;
}
.side-controls{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.upload-btn{
  display: inline-block;
  padding: 8px 15px;
  border-radius: 6px;
  background: #68a3e254;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}
.upload-btn:hover {
  background: #a8d2f7;   /* slightly darker on hover */
}
.toolbar-btn {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 6px;
  background: #e3e8ee;   /* light blue for toolbar */
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border: none;
}
.toolbar-btn:hover {
  background: #a8d2f7;   /* slightly darker on hover */
}
.clear-btn {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 6px;
  background: #f7d2d2;   /* light blue for toolbar */
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border: none;
}
.clear-btn:hover {
  background: #f08787;   /* slightly darker on hover */
}
.canvas-grid button {
  /*align-self: start;*/
  margin-top: 20px;  /* moves button up */
}
.top-canvas{
  margin-bottom: 5px;
  
}
.bottom-canvas{
  margin-top: 5px;
}

/* ---------------------- */
/* 📱 Mobile Adjustments  */
/* ---------------------- */
@media (max-width: 600px) {
  input, textarea, .fabric-textinput {
    font-size: 16px !important;
  }
}
